@use '/src/scss' as *;

.ali {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .item {
      position: relative;
      padding: 1rem;
      border-radius: 10px;
      border: 1px solid #ccc;

      &__img {
        width: 200px;
        height: 150px;
        margin-bottom: 1rem;
        object-fit: cover;
      }
      &__txt {
        display: block;
      }
    }
  }
}

.ali-news {

  .news__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
      position: relative;
      border-radius: 12px;
      border: 1px solid #eee;

      &__img {
        width: 100%;
        height: auto;
        display: block;
      }

      &__wrapper {
        padding: 0 1rem 1rem;
      }

      &__time {
        font-size: 12px;
      }

      &__title {
        font-size: 14px;
      }

      &__desc {
        font-size: 14px;
        padding: 0;
        margin-bottom: 1rem;
        border: none;
      }

      &__btn {
        font-size: 12px;
      }

    }
  }
}

.ali-catalog {

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;

    .item {
      position: relative;

      &__link {
        height: unset;
        padding: 1rem;
        border-radius: 10px;
        background: #f1f1f1;

        .txt {
          padding: 0;
        }
      }
    }
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
      position: relative;
      padding: 12px 1rem 0;
      border-radius: 10px;
      border: 1px solid #ccc;

      .imgs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
      }
      .img {
        width: 120px;
        height: 120px;
        object-fit: contain;
      }

      .title {
        margin-bottom: 10px;
      }

      .descc {
        text-align: end;
      }
    }
  }
}

.ali-about {

  &__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .item {
      position: relative;
      text-align: center;
      padding: 1rem;
      background: #f1f1f1;

      &__img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        object-fit: cover;
      }
      &__txt {
        font-weight: 400;
        font-size: 16px;
      }

      .form {
        text-align: start;
      }
    }
  }
}


.admin-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  overflow-y: scroll;
  z-index: 10;
  
  .form {
    position: relative;
    width: 700px;
    padding: 10px 2rem;
    margin: auto;
    border-radius: 10px;
    background: #fff;
    z-index: 12;

    .admin-inp {
      width: 100%;
      padding: 10px 1rem;
      margin-bottom: 10px;
    }
  }
  
  .bg {
    position: fixed;
    inset: 0;
    background: #00000070;
    z-index: 11;
  }
}


.plus {
  display: grid;
  place-items: center;

  &__btn {
    display: grid;
    place-items: center;
    padding: 40px;
    border-radius: 50%;
    color: #000;
    background: rgba(101, 221, 222, 0.2);

    i {
      font-size: 28px;
    }
  }
}
.btns {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 99%;
  display: flex;
  justify-content: space-between;

  .btn {
    font-weight: 500;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 12px;
    color: #0166c9;
    background: #fff;

    &.del {
      color: #ff0000;
    }
  }
}
