@use '../../scss' as *;

.contacts {

  &__title {
    position: relative;
    font-weight: 300;
    font-size: 62px;
    color: var(--cl-txt-white);
    z-index: 2;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      content: '';
      background: var(--bg-sub);
      transform: rotate(15deg);
      z-index: -1;
    }
  }

  .link-icon {
    width: 25px;
    height: auto;
    object-fit: contain;
  }
}