@use '../../../../scss/index' as *;

.about {

  .head {
    position: relative;
    z-index: 1;

    &::before, &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background: var(--cl-bor);
    }
    &::after {
      width: 30%;
      background: var(--cl-txt-white);
    }

    &__btn {
      position: relative;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 12px 2rem;
      border: 1px solid var(--cl-bor);
      color: var(--cl-txt-white);
      background: var(--bg-body);
      @include transition-color-bg;

      @include breakpoint-down(750px) {
        padding-inline: 1.5rem;
      }

      &:hover {
        &::before {
          top: 0;
          left: 0;
        }
      }

      &::before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100%;
        height: 100%;
        content: '';
        border: 1px solid var(--cl-bor);
        background: transparent;
        transition: inset 0.4s ease;
        z-index: -1;
      }
    }
  }

  .body {
    grid-template-columns: 65% 35%;
    margin-top: 4rem;

    @include breakpoint-down(1320px) {
      grid-template-columns: 1fr;
    }
    @include tablet {
      margin-top: 2rem;
    }

    &__content {
      .title {
        color: var(--cl-txt-white);
      }

      .descs {

        .desc {
          margin-bottom: 12px;
          color: var(--cl-txt-white);

          &.last {
            margin-bottom: 2rem;
          }
        }

        &__list {
          .item {
            display: flex;
            flex-flow: nowrap;
            margin-bottom: 28px;

            .icon {
              font-size: 18px;
              margin-right: 1rem;
              color: var(--cl-menu-burger);
            }

            .txt {
              color: var(--cl-txt-white);
            }
          }
        }
      }

      .btn {
        position: relative;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 12px 2rem;
        border: 1px solid var(--cl-bor);
        color: var(--cl-txt-white);
        background: var(--bg-body);
        @include transition-color-bg;

        &:hover {
          &::before {
            top: 0;
            left: 0;
          }
        }

        &::before {
          position: absolute;
          top: 6px;
          left: 6px;
          width: 100%;
          height: 100%;
          content: '';
          border: 1px solid var(--cl-bor);
          background: transparent;
          transition: inset 0.4s ease;
        }
      }
    }

    &__numbers {

      @include breakpoint-down(1320px) {
        margin-top: 3rem;
      }

      .wrapper {
        padding-left: 2rem;
        border-left: 1px solid #ccc;

        @include breakpoint-down(1320px) {
          border: none;

          &:first-child {
            margin-bottom: 2rem;
          }
        }
      }

      .number {
        display: block;
        font-weight: 900;
        font-size: 200px;
        letter-spacing: 28px;

        -webkit-text-stroke: 3.5px var(--cl-txt-white);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        color: transparent;
        background-clip: text;
        background-image: url('../../../../assets/images/bg-clip-num1.jpg');
        transform: scale3d(1, 1.2, 1);

        @include mobile {
          font-size: 150px;
        }

        &.number2 {
          background-image: url('../../../../assets/images/video-pre.png');
        }
      }

      .title {
        display: block;
        font-size: 30px;
        margin-bottom: 8px;
        color: var(--cl-txt-white);

        @include mobile {
          font-size: 24px;
        }
      }
    }
  }
}