@use '../../../../scss/index' as *;

.about-page {
  .about {
    min-height: 100vh;
    height: 100%;
    padding-top: calc(30vh + 1rem);
    background-image: url('../../../../assets/images/about-bg.jpg');
    background-position: -200px center;
    background-size: cover;
    background-attachment: fixed;

    .bg-shadow {
      position: absolute;
      inset: 0;
      background: #00000070;
      z-index: 1;
    }

    &__titles {
      position: relative;
      z-index: 2;
      color: #fff;

      .title {
        font-size: 62px;
        letter-spacing: 2px;
      }

      .subtitle {
        position: relative;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 2px;
        padding-block: 5px;
        padding-left: 1.5rem;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 1.5px;
          height: 100%;
          content: '';
          background: #fff;
        }
      }

      .btn {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        padding: 14px 2rem;
        color: #111;
        background: #fff;
        transition: transform 0.3s ease;

        &:hover {
          &::before {
            top: 0;
            left: 0;
          }
        }

        &::before {
          position: absolute;
          top: 6px;
          left: 6px;
          width: 100%;
          height: 100%;
          content: '';
          border: 1px solid #ffffff70;
          background: transparent;
          transition: inset 0.3s ease;
        }
      }
    }

    .modal {
      position: fixed;
      inset: 0;
      visibility: collapse;
      opacity: 0;
      transition: opacity 0.2s ease-in-out,
      visibility 0.3s ease-in-out;
      z-index: $header-index;

      &.active {
        visibility: visible;
        opacity: 1;
      }

      .form {
        position: relative;
        width: 600px;
        height: auto;
        padding: 2rem;
        background: var(--bg-modal);
        transform: scale(0);
        transition: transform 0.3s ease-in-out;

        &.active {
          transform: scale(1);
        }

        &__close {
          position: absolute;
          top: 0;
          right: -40px;

          .icon {
            font-size: 32px;
            color: #fff;
            transform: scaleY(0.85);
          }
        }

        &__title {
          display: block;
          font-weight: 800;
          font-size: 24px;
          text-align: center;
          letter-spacing: 1px;
          margin-bottom: 1.5rem;
          color: var(--cl-modal-tit);
        }

        &__label {
          display: block;

          .inp {
            width: 100%;
            padding: 12px 1rem;
            margin-bottom: 1rem;
            border: 1px solid var(--bor-modal-inp);
            color: var(--cl-txt-white);
            background: var(--bg-body);
            outline: none;

            &::placeholder {
              font-weight: var(--bor-modal-inp-txt);
            }

            &:focus {
              border-color: #ffc47e;
            }

            &.area {
              resize: none;
            }
          }
        }

        &__btn {
          display: block;
          font-weight: 800;
          text-transform: uppercase;
          letter-spacing: 2px;
          padding: 12px 3rem;
          margin: 1rem auto 0;
          color: var(--cl-txt-black);
          background: var(--cl-txt-white);
          @include transition-color-bg;

          &:hover {
            color: #fff;
            background: #5E3626;
          }
        }
      }

      .bg {
        inset: 0;
        background: #00000060;
        z-index: -1;
      }
    }
  }
}