@use '../../../scss/index' as *;

.catalog {
  &.page {
    padding-right: 0;

    @include mobile {
      padding-top: 8rem;
    }
  }

  &__subtitle {
    font-size: 62px;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1.2px var(--cl-txt-white);
  }
  &__title {
    position: relative;
    font-weight: 300;
    font-size: 62px;
    text-transform: capitalize;
    padding-left: 3rem;
    margin-top: 10px;
    margin-bottom: 4rem;
    color: var(--cl-txt-white);
    z-index: 2;

    @include breakpoint-down(800px) {
      font-size: 50px;
    }
    @include mobile {
      font-size: 42px;
    }

    &::before {
      position: absolute;
      top: -5px;
      left: 0;
      width: 100px;
      height: 85px;
      content: '';
      background: var(--bg-chat);
      transform: skew(-10deg);
      z-index: -1;

      @include mobile {
        width: 80px;
        height: 70px;
      }
    }
  }

  &__list {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
    }

    .item {
      &__link {
        position: relative;
        width: 100%;
        height: 400px;

        @include breakpoint-down(1700px) {
          height: 300px;
        }
        @include breakpoint-down(1300px) {
          height: 250px;
        }

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .txt {
          position: absolute;
          top: 10%;
          left: 0;
          font-weight: 500;
          letter-spacing: 2px;
          padding: 12px 1rem;
          color: var(--cl-contact);
          background: var(--bg-global-sub);

          @include mobile {
            font-weight: 400;
            letter-spacing: 1px;
            padding-block: 10px;
          }
        }
      }
    }
  }
}

.catalog-item {

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 3rem;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint-down(800px) {
      grid-template-columns: 1fr;
    }
  }

  .item {

    &__link {
      height: unset;
    }

    &:hover {
      .img {
        scale: 0.95;
      }
    }

    .img {
      height: 28vw !important;
      margin-bottom: 10px;
      object-fit: cover;
      transition: scale 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);

      @include breakpoint-down(800px) {
        height: 38vw !important;
      }
      @include mobile {
        height: 55vw !important;
      }
    }

    .txt {
      position: static !important;
      top: 0 !important;
      font-size: 30px;
      padding: 0 0 0 20px !important;
      border-left: 2px solid var(--cl-txt-white);
      background: none !important;
    }
  }

  .btn {
    display: block;
    font-size: 20px;
    padding: 8px 2rem 10px;
    margin: 4rem auto 0 auto;
    border: 1px solid var(--bor-header-inner);
    color: var(--cl-txt-white);
  }
}

.catalog-inner {
  .page {
    min-height: 100vh;
    height: 100%;
    padding-top: calc(30vh + 1rem);

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    @include mobile {
      background-position: center;
      background-attachment: unset;
    }
  }

  &__title {
    position: relative;
    font-weight: 400;
    font-size: 62px;
    text-transform: capitalize;
    padding-left: 4rem;

    &::before {
      position: absolute;
      top: -5px;
      left: 0;
      width: 120px;
      height: 85px;
      content: '';
      background: var(--bg-chat);
      transform: skew(-10deg);
      z-index: -1;

      @include mobile {
        width: 80px;
        height: 70px;
      }
    }

    @include phone {
      padding-left: 0;
    }
  }

  &__wrapper {
    padding-left: calc(($header-main-width + $header-slider-width) + 1rem);
    padding-right: 2rem;
    background: var(--bg-body);
    @include transition-color-bg;

    @include tablet {
      padding-left: calc($header-main-width-tablet + 1rem);
      padding-right: 1rem;
    }
    @include mobile {
      padding-left: 1rem;
      padding-right: 0;
    }
    @include breakpoint-down(400px) {
      padding-left: 0;
    }

    .titles {
      margin-bottom: 4rem;

      &::before, &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        content: '';
        background: var(--cl-bor);
      }
      &::after {
        width: 28%;
        background: var(--cl-txt-white);
      }

      .title {
        text-transform: capitalize;
      }
    }

    .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
      row-gap: 3rem;
      padding-bottom: 5rem;
      border-bottom: 1px solid #ccc;

      @include breakpoint-down(1000px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include breakpoint-down(700px) {
        grid-template-columns: 1fr 1fr;
      }
      @include phone {
        grid-template-columns: 1fr;
      }
    }

    .item {

      &__link {
        display: flex;
        flex-flow: column;
        align-items: center;

        .img {
          margin-bottom: 1rem;
        }

        .txt {
          font-size: 18px;
          color: var(--cl-txt-white);
        }
      }
    }

    .btn {
      display: block;
      font-size: 20px;
      padding: 8px 2rem 10px;
      margin: 2rem auto 0 auto;
      border: 1px solid var(--bor-header-inner);
      color: var(--cl-txt-white);
    }
  }
}

.catalog-id {

  &__title {
    font-size: 62px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    color: transparent;
    -webkit-text-stroke: 1.2px var(--cl-txt-white);

    @include mobile {
      margin-top: 2rem;
    }
    @include phone {
      font-size: 50px;
    }
  }

  .btn {
    display: block;
    font-size: 20px;
    padding: 8px 1rem 10px;
    margin-bottom: 1rem;
    border: 1px solid var(--bor-header-inner);
    color: var(--cl-txt-white);
  }

  .title-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    .item {

      &__link {
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: underline;
        color: var(--cl-contact);
      }
    }
  }

  .content {

    &__wrapper {
      grid-template-columns: 310px auto;
      gap: 1rem;
      margin-bottom: 4rem;

      @include breakpoint-down(900px) {
        grid-template-columns: 250px auto;
      }
      @include breakpoint-down(800px) {
        grid-template-columns: 1fr;
      }

      .images {
        text-align: center;

        @include breakpoint-down(800px) {
          margin-bottom: 2rem;
        }

        .img {
          width: 100%;
          height: 400px;
          object-fit: contain;
        }

        .imgs {
          display: flex;
          justify-content: center;
          gap: 1rem;

          &__img {
            width: 55px;
            padding: 4px;
            border-radius: 5px;
            object-fit: cover;
            cursor: pointer;

            &.active {
              border: 1px solid var(--cl-txt-white);
            }
          }
        }
      }

      .descs {

        .title {
          position: relative;
          font-weight: 300;
          font-size: 60px;
          text-transform: capitalize;
          padding-left: 4rem;
          margin-top: 0;
          z-index: 1;
          color: var(--cl-txt-white);

          &::before {
            position: absolute;
            top: -5px;
            left: 0;
            width: 100px;
            height: 110%;
            content: '';
            background: var(--bg-chat);
            transform: skew(-10deg);
            z-index: -1;

            @include mobile {
              width: 80px;
            }
          }

          @include phone {
            font-size: 48px;
          }
        }

        .txts {

          border-bottom: 1px solid #ccc;

          .row {
            margin-bottom: 1rem;
          }

          .txt1 {
            text-transform: capitalize;
            margin-right: 10px;
            color: var(--cl-contact);
          }

          .txt2 {
            color: var(--cl-txt-white);
          }
        }

        .desc {
          color: var(--cl-txt-white);
        }

        .form {
          margin-top: 2rem;

          &__txt {
            margin-bottom: 1rem;
            color: var(--cl-txt-white);
          }

          .diver {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            @include breakpoint-down(1250px) {
              grid-template-columns: 1fr;
            }
          }

          &__inp {
            padding: 1rem 12px;
            border-radius: 15px;
            border: none;
            background: #fff;
            box-shadow: 0 2px 20px 1px rgba(0,0,0,0.1);
            -webkit-box-shadow: 0 2px 20px 1px rgba(0,0,0,0.1);

            @include breakpoint-down(1250px) {
              padding: 1rem;
            }
            @include mobile {
              border: 1px solid #f1f1f1;
            }
          }

          &__btn {
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            padding: 1rem 2rem;
            margin-top: 1rem;
            border-radius: 15px;
            color: $txt-color;
            background: #E3AB34;

            @include breakpoint-down(1400px) {
              width: 100%;
            }
          }
        }
      }
    }

    .warn-desc {
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.5px;
      color: #787878;
    }
  }
}