@use '../../scss' as *;

.footer {
  padding-left: calc($header-main-width + $header-slider-width);
  color: var(--cl-txt-white);
  background: var(--bg-body);
  @include transition-color-bg;

  &__inner {
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-top: 1px solid var(--bor-chat-inp);
    background: var(--bg-chat);
    @include transition-color-bg;
  }

  &__top {
    border-bottom: 1px solid var(--bor-chat-inp);

    .logo {

      &__title {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: var(--cl-txt-white);
      }
    }

    .txt {
      font-size: 16px;
      letter-spacing: 2px;
    }

    .desc {
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 2px;
      padding-right: 5rem;
    }

    .social {
      gap: 8px;

      &__link {
        width: 33px;
        height: 33px;
        display: grid;
        place-items: center;
        border: 1px solid var(--bor-chat-inp);
        transition: transform 0.4s ease-out;

        .icon {
          font-size: 15px;
          color: var(--cl-txt-white);

          &.fa-youtube {
            font-size: 14px;
          }
        }
      }
    }
  }

  &__bot {
    .copyright {
      font-size: 17px;
      letter-spacing: 1px;
    }

    .list {
      justify-content: flex-end;
      row-gap: 1rem;
      column-gap: 2rem;

      .item {
        &__link {
          font-size: 13px;
          text-transform: uppercase;
          color: var(--cl-foot-link);
        }
      }
    }
  }
}