@use '../../../scss' as *;

.news {

  .titles {
    margin-bottom: 4rem;

    &::before, &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background: var(--cl-bor);
    }
    &::after {
      width: 30%;
      background: var(--cl-txt-white);
    }
  }

  &__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    .item {
      color: var(--cl-txt-white);
      overflow: hidden;

      &__img {
        width: 100%;
        height: 250px;
        margin-bottom: 1rem;
        object-fit: cover;
        transition: scale 0.3s ease-in-out;

        &:hover {
          scale: 1.1;
        }

        @include breakpoint-down(1600px) {
          height: 165px;
        }
      }

      &__time {
        margin-bottom: 1rem;
        opacity: 0.8;
      }

      &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 150%;
        margin-bottom: 1rem;
      }

      &__desc {
        font-weight: 500;
        line-height: 160%;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
        border-left: 2px solid var(--cl-txt-white);
      }

      &__btn {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 12px 2rem;
        border-radius: 20px;
        border: 1px solid #ccc;
        color: var(--cl-txt-white);
        background: transparent;
      }
    }
  }
}