@use '../../../../scss' as *;

.news-id {
  background-position: center !important;

  .title {

    &::before {
      position: absolute;
      top: 0;
      left: -10px;
      width: 100px;
      height: 110%;
      content: "";
      background: #222222aa;
      transform: skew(-10deg);
      z-index: -1;
    }
  }
}

.news-desc {
  padding-block: 5rem;
  color: var(--cl-txt-white);
  background: var(--bg-body);

  .title {
    position: relative;
    font-weight: 500;
    font-size: 26px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

    &::before, &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background: var(--cl-bor);
    }
    &::after {
      width: 30%;
      background: var(--cl-txt-white);
    }
  }

  .desc {
    font-size: 18px;
    line-height: 1.5;
  }
}