@use '/src/scss' as *;

.admin {

  &__title {
    font-size: 34px;
  }

  .content {

    &__form {

      label {
        margin-bottom: 1rem;
      }
      .txt {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

.admin-page {
  padding-block: 2rem;
  margin-left: calc(250px + 1rem);
  margin-right: 1rem;

  .form .img {
    width: 50%;
    height: 300px;

    @include tablet {
      width: 100%;
    }
  }
}