@use "./scss" as *;

:root {
  --bg-header-inner: #eeeeee30;
  --bor-header-inner: #ccc;
  --cl-txt-white: #111;
  --cl-txt-black: #fff;
  --cl-menu-burger: #5c2610;
  --cl-menu-burger-txt: #5c2610;
  --cl-menu-txt-bg: #0D0D0D;
  //--bg-chat: #F1F1F1;
  --bg-chat-contact: #fff;
  --bor-chat-inp: #ccc;
  --bg-global-sub: #f1f1f1;
  --cl-contact: #b37735;

  // direction page
  --cl-sub: #fff;
  --bg-sub: #33190F;
  --cl-tit: #111;

  // about page
  --cl-bor: #ccc;
  --cl-ab-slider-txt: #fff;
  --bg-ab-slider-txt: #111;
  --bg-ab-slider-dot: #5d5b59;
  --bg-ab-slider-dot-active: #5C2610;

  --bg-modal: #fff;
  --cl-modal-tit: #333;
  --bor-modal-inp: #ccc;
  --bor-modal-inp-txt: 400;

  // footer
  --cl-foot-link: #b37735;
}

.dark-theme {
  --bg-header-inner: transparent;
  --bor-header-inner: #eeeeee20;
  --cl-txt-white: #fff;
  --cl-txt-black: #111;
  --cl-menu-burger: #ffc47e;
  --cl-menu-burger-txt: #fff;
  --cl-menu-txt-bg: #eaeaea;
  //--bg-chat: #33190F;
  --bg-chat-contact: #23110D;
  --bor-chat-inp: #ffffff14;
  --bg-global-sub: #33190f;
  --cl-contact: #FFC47E;

  // direction page
  --cl-sub: #111;
  --bg-sub: #f1f1f1;
  --cl-tit: #fff;

  // about page
  --cl-bor: #ffffff20;
  --cl-ab-slider-txt: #111;
  --bg-ab-slider-txt: #fff;
  --bg-ab-slider-dot: #d2a387;
  --bg-ab-slider-dot-active: #FFC47E;

  --bg-modal: #33190F;
  --cl-modal-tit: #FFC47E;
  --bor-modal-inp: transparrent;
  --bor-modal-inp-txt: 700;

  // footer
  --cl-foot-link: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #31373e;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffffaa;
  border-radius: 50px;
}

body {
  font-family: $font-family;
  color: $txt-color;
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  height: 100%;
}

.page {
  padding-left: calc(($header-main-width + $header-slider-width) + 1rem);
  padding-right: 2rem;

  @include tablet {
    padding-left: calc($header-main-width-tablet + 1rem);
    padding-right: 1rem;
  }
  @include mobile {
    padding-left: 1rem;
    padding-right: 0;
  }
  @include breakpoint-down(400px) {
    padding-left: 0;
  }

  &.bg-cl {
    background: var(--bg-body);
    @include transition-color-bg;
  }
}

.titles {
  position: relative;
  padding-bottom: 2rem;

  @include breakpoint-down(750px) {
    .subtitle {
      font-size: 18px;
    }
    .title {
      font-size: 26px;
    }
  }

  .subtitle {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 1rem;
    margin-bottom: 1rem;
    color: var(--cl-txt-white);
    background: var(--bg-chat);

    @include breakpoint-down(750px) {
      font-size: 18px;
    }
    @include mobile {
      font-size: 16px;
    }
  }

  .title {
    font-weight: 400;
    font-size: 35px;
    color: var(--cl-txt-white);

    @include breakpoint-down(750px) {
      font-size: 28px;
    }
  }
}

.gotham {
  font-family: $font-family;
}
.lato {
  font-family: $font-family-sc;
}

.no-copy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
}


// admin - page
.admin-inp {
  width: 50%;
  padding: 12px 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;

  @include tablet {
    width: 100%;
  }
}
.admin-btn {
  font-weight: 500;
  padding: 12px 2rem;
  border-radius: 12px;
  color: #fff;
  background: #50C878;
}