$font-family: "Gotham Pro", sans-serif;
$font-family-sc: "LatoWebLight", sans-serif;

$txt-color: #333;
$body-bg: #fff;
$header-main-width: 250px;
$header-slider-width: 150px;
$header-main-width-tablet: 170px;
$header-slider-width-tablet: 0;

$header-index: 15;
$header-nav-index: 11;
$chat-us-index: 10;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$tablet-width: 1200px;
$mobile-width: 600px;
$phone-width: 480px;