$font-family: "LatoWebLight", sans-serif;
$font-family-sc: "Gotham Pro", sans-serif;

$txt-color: #262626;
$body-bg: #fff;
$header-main-width: 250px;
$header-slider-width: 150px;

$header-index: 15;
$chat-us-index: 10;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$tablet-width: 1024px;
$mobile-width: 600px;
$phone-width: 450px;